h1 {
  font-weight: 700;
}

body {
  font-family: 'Syncopate', sans-serif;
  color: #0B4AB2;
}
#page {
  display: none;
}
.container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}
/*
=========================================
header
========================================= 
*/
.title {
  background-color: #A4A5A7;
  border-bottom: 5px solid #0B4AB2;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  flex: 2;
}
.intro {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 50px;
  flex 1;
}
.intro-item {
  align-content: center;
  /* flex-direction: row-reverse; */
}
.header {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  padding: 11px;
  flex: 1;
  width: 50%;
}
.header-item {
  flex: 1;
  align-items: center;
  float: right;
}
/*
=========================================
Results 
========================================= 
*/
.bottom {
  display: flex;
  justify-content: space-between;
}
.images {
  display: flex;
  justify-content: space-evenly;
  padding: 22px 0;
  width: 700px;
  height: 175px;
}
.stats {
  align-content: flex-start;
  flex-direction: column;
  width: 500px;
}
.congrats {
  display: flex;
  justify-content: center;
  padding-bottom: 44px;
  /* width: 500px; */
}


