h1 {
  font-weight: 700;
}
h1, h2, p {
  text-align: center;
}
body {
  font-family: 'Syncopate', sans-serif;
  color: #0B4AB2;
}
.title {
  background-color: #AEB2A1;
  padding: 22px 0 44px 0;
}

.container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  border-bottom: 
}
.imgbutton {
  display: inline-block;
  
}
.center {
  padding: 0 55px;
}

.response {
  background-color: #AEB2A1;
  padding-top: 22px;
  padding-bottom: 88px;
}